In [1]:
import numpy as np
import pandas as pd

%load_ext autoreload
%autoreload 2

In [2]:
from app.metrics_new import Metrics

### Приклад вхідних даних як pandas таблиці

In [3]:
test = pd.DataFrame({'user': ['1']*3, 'item': ['1','2','3']})
test

  user item
0    1    1
1    1    2
2    1    3

In [4]:
predict = pd.DataFrame({'user': ['1']*3, 'item': ['1','3','5']})
predict

  user item
0    1    1
1    1    3
2    1    5

### Приклад вхідних даних як словники

In [5]:
test_dict = {'1': ['1', '2', '3']}
predict_dict = {'1': ['1','3','5']}

### Ініціалізація класу метрик pandas таблицями

In [6]:
mt = Metrics(test, predict)

In [7]:
mt = Metrics(test, predict, verbose = True)

type of test: pandas
type of predict: pandas
amount of users in test: 1
amount of users in predict: 1
amount of common users: 1

### Ініціалізація класу метрик словниками

In [8]:
mt = Metrics(test_dict, predict_dict, verbose = True)

type of test: dict
type of predict: dict
amount of users in test: 1
amount of users in predict: 1
amount of common users: 1

### Перелік доступних метрик для виклику

In [9]:
mt.available_metrics

['Precision', 'Recall', 'mMAP', 'MAP', 'NDCG', 'mNDCG', 'MRR']

 - мала m означає що метрика модифікована (ділимо на min(k, len(user_true_items_in_test))) 
 - без m просто ділимо на k

### Приклад виклику метрики

In [10]:
mt.Precision(k=3)

0.6666666666666666

#### Є можливість повертати словник з значенням метрики для кожного юзера

In [11]:
metric, metric_for_each_user = mt.Precision(k=3, metric_per_user=True)
print(metric, metric_for_each_user)

0.6666666666666666 {'1': 0.6666666666666666}

### Для швидкого огляду значень декількох метрик

In [12]:
mt.Evaluate(k=3)

  Precision@3  Recall@3     MAP@3    NDCG@3
0    0.666667  0.666667  0.666667  0.765361

#### Є можливість вибрати власний перелік метрик

In [13]:
mt.Evaluate(k=3, metrics_list=['Precision', 'Recall', 'mMAP', 'mNDCG'])

  Precision@3  Recall@3    mMAP@3   mNDCG@3
0    0.666667  0.666667  0.666667  0.765361

#### Можна повернути в форматі словника

In [14]:
mt.Evaluate(k=3, to_pandas=False)

{'Precision@3': 0.6666666666666666,
 'Recall@3': 0.6666666666666666,
 'MAP@3': 0.6666666666666666,
 'NDCG@3': 0.7653606369886217}

#### Як тільки ми один раз обрахували метрики через Evaluate, вони збереглись в класі

In [15]:
mt.saved_result

{'Precision@3': 0.6666666666666666,
 'Recall@3': 0.6666666666666666,
 'MAP@3': 0.6666666666666666,
 'NDCG@3': 0.7653606369886217,
 'mMAP@3': 0.6666666666666666,
 'mNDCG@3': 0.7653606369886217}

#### Є можливість отримати відразу метрики і для кожного юзера

In [16]:
dic_metric, dic_metric_for_each_user = mt.Evaluate(k=3, to_pandas=False, metric_per_user=True)

print(dic_metric_for_each_user)

{'Precision@3': {'1': 0.6666666666666666}, 'Recall@3': {'1': 0.6666666666666666}, 'MAP@3': {'1': 0.6666666666666666}, 'NDCG@3': {'1': 0.7653606369886217}}

#### Є можливість  автоматично виводити резульати метрики під час обрахунку

In [17]:
dic_metric = mt.Evaluate(k=3, to_pandas=False, verbose=True)

Precision@3=  0.6666666666666666
Recall@3=  0.6666666666666666
MAP@3=  0.6666666666666666
NDCG@3=  0.7653606369886217

### Якщо є потреба рахувати метрики для оцінки рейтингу

In [18]:
test = pd.DataFrame({'user': ['1']*3, 'item': ['1','2','3'], 'rating': [5.]*3})
test

  user item  rating
0    1    1     5.0
1    1    2     5.0
2    1    3     5.0

In [19]:
predict = pd.DataFrame({'user': ['1']*3, 'item': ['1','5','2'], 'rating': [5.5, 5.0, 5.2]})
predict

  user item  rating
0    1    1     5.5
1    1    5     5.0
2    1    2     5.2

In [20]:
mt = Metrics(test, predict, calculate_rating_metrics = True)

In [21]:
mt.available_metrics

['Precision',
 'Recall',
 'mMAP',
 'MAP',
 'NDCG',
 'mNDCG',
 'MRR',
 'Normed_entropy',
 'RMSE',
 'MAE',
 'MSE']

In [22]:
mt.Evaluate(k=3, metrics_list=['Precision', 'Recall', 'mMAP', 'RMSE', 'MAE'])

  Precision@3  Recall@3    mMAP@3      RMSE   MAE
0    0.666667  0.666667  0.555556  0.380789  0.35

In [23]:
mt.RMSE()

0.3807886552931955

In [24]:
mt.Normed_entropy()

1.0

# Будуть ідеї що можна покращити - звертайтесь)